body {
  background-color: aquamarine;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10em;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.listContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}
